@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: hsl(218, 23%, 16%);
}

:root {
  font-family: 'Manrope';
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 16px;
  width: 100%;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.loading {
  color: #ffffff;
  display: block;
}

.advice-card {
  padding: 20px;
  border-radius: 12px;
  background: hsl(217, 19%, 24%);
  display: none;
}

.id {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.advice {
  color: hsl(193, 38%, 86%);
  font-weight: 800;
  font-size: 28px;
  margin-top: 32px;

  /* ::before, ::after {
    content: '"';
    font-size: 40px;
    vertical-align: top;
    margin-right: 8px;
  } */
}

.advice::before {
  content: open-quote;
}

.advice::after {
  content: close-quote;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-container {
  height: 10px;
  margin-top: 40px;
}

button.getAdvice {
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: hsl(150, 100%, 66%);
  display: inline-block;
  cursor: pointer;

  @media (hover:hover) {
    &:hover {
      box-shadow: 0 0 40px hsl(150, 100%, 66%);
      animation: fadeIn 0.25s;
    }
  }
}

@keyframes fadeIn {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 0 40px hsl(150, 100%, 66%);
  }
}