:root {
  font-family: 'Manrope';

  /* Color variables */
  --blue-200: hsl(193, 38%, 86%);
  --blue-600: hsl(217, 19%, 38%);
  --blue-900: hsl(217, 19%, 24%);
  --blue-950: hsl(218, 23%, 16%);
  --green-300: hsl(150, 100%, 66%);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--blue-950);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loading {
  color: #ffffff;
  display: block;
}

.advice-card {
  padding: 20px;
  border-radius: 12px;
  background: var(--blue-900);
  display: none;
}

.id {
  color: var(--green-300);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.advice {
  color: var(--blue-200);
  font-weight: 800;
  font-size: 28px;
  margin-top: 32px;
}

.advice::before {
  content: open-quote;
}

.advice::after {
  content: close-quote;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-container {
  height: 10px;
  margin-top: 40px;
}

button.getAdvice {
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: var(--green-300);
  display: inline-block;
  cursor: pointer;

  @media (hover:hover) {
    &:hover {
      box-shadow: 
        0 0 30px var(--green-300),
        0 0 30px var(--blue-600);
        /* box-shadow: 
        0 0 40px var(--blue-600),
        0 0 40px var(--green-300); */
      animation: fadeIn 0.25s;
    }
  }
}

@keyframes fadeIn {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 
      0 0 30px var(--green-300),
      0 0 30px var(--blue-600);
      /* box-shadow: 
      0 0 40px var(--blue-600),
      0 0 40px var(--green-300); */
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 16px;
  width: 100%;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}